.hero {
  padding: 12rem 1rem 5rem 1rem;
  min-height: 90vh;
  background-color: var(--primary-bg);
}

.hero .container {
  max-width: 1500px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 8rem;
}

@media screen and (max-width: 1500px) {
  .hero {
    padding: 12rem 5rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero .container {
    grid-template-columns: 1fr;
    gap: 5rem;
  }
}

@media screen and (max-width: 700px) {
  .hero {
    padding: 12rem 2rem;
  }
}
