.project {
  padding: 15rem 0 5rem 0;
}

.container {
  max-width: 1500px;
  margin: auto;
  display: flex;
  align-items: start;
  gap: 5rem;
}

.imageContainer {
  flex: 2;
}

.imageContainer,
.image {
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}

.content {
  flex: 1.5;
}

.title {
  color: var(--primary);
  font-size: 3rem;
  margin-bottom: 2rem;
}

.description {
  color: var(--text-secondary);
  margin-bottom: 3rem;
  font-size: 1.1rem;
  opacity: 0.9;
}
